/* ヘッダーのメニュー部分 */
.header nav ul {
  display: flex;
  gap: 24px;
}

.header nav ul li a:hover {
  opacity: 0.7;
}

/* メインビジュアル */
.main-visual {
  width: 100%;
  height: 640px;
  border-radius: 16px;
}

/* プロフィールセクション */
.section-title {
  margin-bottom: 40px;


.profile {
  display: flex;
  gap: 40px;
}

.profile-info p {
  margin: 16px 0;
}

/* 記事セクション */
.articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px 16px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* フッター */
.footer {
  padding: 40px 0;
  font-size: small;
}
